.panel-hd {
    position: relative;
    border-bottom : 1px solid #ECECEC;
    height: 55px;
    margin-bottom : 10px;
    span {
        color : #FB8632;
        font-size : 18px;
    }
    .help-content{
        .item-list{
            li{
                span{
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
