.panel-hd {
	position: relative;
	border-bottom: 1px solid #ececec;
	height: 55px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	li {
		display: inline-block;
	}
	.panel-switch {
		margin-left: 32px;
	}
	span {
		color: #333c4f;
		font-size: 18px;
		font-family: PingFangSC-Medium, 'Microsoft YaHei', sans-serif;
	}
	.help-content {
		.item-list {
			li {
				span {
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
	.tooltip-icon {
		margin-left: 8px;
		cursor: pointer;
	}
}
