.h5home-main {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #446CE6;
    .home{
        color: #FFF;
        text-align: center;
        h2{
            color: #FFF;
            margin: 2.1333rem auto 0.16rem;
            font-size: 0.8533rem;
            font-weight: bold;
        }
        p{
            font-size: 0.3733rem;
            opacity: 0.6;
        }
        .download{
            margin: 3.2rem auto 0.64rem;
        }
        .web-config{
            margin-top: 0.32rem;
            a{
                opacity: 0.8;
                font-size: 0.32rem;
                color: #F7F7F7;
                text-decoration: underline;
            }
        }
    }
}