.weixin-tabs {
    .ant-table-placeholder{
        height: 255px;
        line-height: 180px;
        font-size: 16px;
        color: #ADB1B9;
        text-align: center;
    }
}

.hide-input {
    .ant-select-search__field {
        opacity: 0;
    }
}

.auth{
    display : flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin : 0;
    padding : 0;
    width : 100%;
    .left{
        padding-left:60px;
        label{
            width: 100%;
            display: inline-block;
            margin-top:8px;
            margin-bottom:7px;
        }
        .twosection{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            >section{
                display:flex;
                flex-direction:column;
                flex:1;
                >span{
                    font-size:12px;
                    color:#ADB1B9;
                }
            }
            
        }
    }
    .save{
        width: 100%;
        border-top:1px solid #ECECEC;
        padding:20px 60px 20px;
        margin-top: 30px;
    }
    
    // .weixin-auth-save{
    //     height: 98px;
    //     border-top: 1px solid #d8d8d8;
    //     left:-60px;
    //     .weixin-auth-button{
    //         width: 320px;
    //         height: 42px;
    //         left: 60px;
    //         top: 24px;
    //     }
    // }
    
}
.unauth-header{
    border-bottom:0;
    span{
        color:#333C4F;
        font-size: 16px;
    }
}