.progress-tip {
    margin: 0 auto;
    text-align: center;
    h3 {
        margin: 20px auto 5px;
    }
    h4 {
        font-size: 14px;
        color: #ccc;
        margin-bottom: 25px;
    }
}
.setwan-help {
    width: 100%;
    margin-top: 8px;
    .a-right, .a-left {
        font-size: 12px;
        line-height: 12px;
        color: #adb1b9;
    }
    .a-right {
        float: right;
    }
    .a-left {
        float: left;
    }
}
.set-wan {
    .loading {
        font-size: 80px;
        margin-bottom: 30px;
        color: #6174F1;
    }
    // .ui-center {
    //     height: 400px;
    // }
    .none {
        display: none;
    }
    .wan {
        display: none;
        .nextButton {
            width : 100%;
            height: 42px;
            margin-top: 8px;
        }
    }
    .bigLoading {
        margin-bottom: 30px;
        text-align: center;
    }
    .wan.block {
        display: block;
    }
    .ant-select-selection {
        border-radius: 8px;
    }
}