.create-wifi{
    flex:none;
    color: #333C4F;
    .head{
        padding: 10px 0 28px;
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 102px;
        p{
            display: inline-block;
            margin-left: 12px;
            font-size: 20px;
            vertical-align: middle;
        }
    }
    .body{
        width: 1012px;
        margin: auto;
        text-align: center;
        li{
            text-align: left;
            display: inline-block;
            width: 486px;
            min-height: 202px;
            padding: 40px 0 32px 60px;
            background: #FFF;
            border: 1px solid rgba(0,0,0,0.04);
            border-radius: 12px;
            .title{
                display: inline-block;
                margin-bottom: 20px;
                label{
                    margin-left: 8px;
                    font-size: 20px;
                    color: rgba(51,60,79,0.6);
                    vertical-align: middle;
                }
            }
            p{
                font-size: 20px;
                line-height: 28px;
                font-weight: 550;
                margin-bottom: 8px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        li:nth-child(1){
            margin-right: 40px;
        }
    }
}
.wifi-box {
    text-align: right;
    .title {
        font-size: 16px;
        font-weight: bold;
    }
    .titleTip {
        font-size: 14px;
        font-weight: normal;
        color: #ADB1B9;
    }
}
.footer {
    margin: auto;
    text-align: left;
    width: 260px;
    .setTip {
        font-family: 'PingFangSC-Regular';
        font-size: 12px;
        color: #6174F1;
        cursor: pointer;
        display: inline-block;
    }
}