/* UI FROM */
.ui-form, .ant-modal {
    position: relative;
    margin-bottom : 10px;
    // width : 360px;
    .ui-form-item {
        // display: flex;
        position: relative;
        font-size : 14px;
        margin-bottom : 24px;
        // vertical-align : top;
        .ui-form-explain {
            line-height: 1.5;
            font-size : 12px;
        }
        .ui-input:focus {
            border : 1px solid #6174F1;
            // box-shadow: 0 10px 10px 0 rgba(251,134,50,0.09);
        }
        &.has-error {
            .ui-input {
                border : 1px solid #D0021B;
                // box-shadow: 0 10px 10px 0 rgba(251,134,50,0.09);
            }
            .ui-form-explain {
                color : #D0021B;
                text-align: left;
            }
            .ui-input-group{
                border : 1px solid #D0021B;
                // box-shadow: 0 10px 10px 0 rgba(251,134,50,0.09);
            }
        }
    }

    .ui-form-item-label {
        height : 42px;
        line-height: 42px;
        color : #333C4F;
        text-align: right;
        flex : none;
        width: 100%;
        // min-width : 175px;
    }

    .ui-form-item-field {
        width : 100%;
        line-height: 40px;
        .ui-form-item-suffix {
            position: absolute;
            right : 10px;
            top : 0;
            z-index: 4;
            color : #ccc;
            font-size: 14px;
        }
    }

    .ui-input-outline {
        position: relative;
        .ui-icon {
            position: absolute;
            right: 10px;
            top: 0;
            cursor: pointer;
        }
    }

    .ui-input-group {
        background-color: #FFF;
        border-radius: 8px;
        border : 1px solid rgba(0,0,0,0.15);
        padding : 0 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &.focus {
            border-color : #6174F1;
            // box-shadow: 0 10px 10px 0 rgba(251,134,50,0.09);

        }
        &.small {
            line-height: 32px;
            .ui-input-group-item {
                height: 32px;
            }
            .dot{
                line-height:32px;
            }
        }
        .ui-input-group-item {
            flex : 1 1 auto;
            border : none;
            width : 0;
            outline: none;
            height: 38px;
            text-align: center;
        }
        span.dot {
            flex : none;
            width : 2px;
            height : 100%;
            // border-radius: 100%;
            // background-color : #000;
            margin : 0 10px;
            line-height: 40px;
        }
    }


    .ui-input {
        height : 42px;
        border-radius: 8px;
        border : 1px solid rgba(0,0,0,0.15);
        padding-left: 10px;
        width : 100%;
        color : #333C4F;
        box-sizing: border-box;
        &:focus {
            outline :none;
        }
        &.small {
            height : 32px;
        }
    }

    .ui-form-item-small {
        .ui-input {
            height : 36px;
        }
    }

    .ui-input.disabled,.ui-input-group.disabled, input[disabled] {
        background: #F7F7F7;
        border: 1px solid rgba(0,0,0,0.15);
    }

    .ui-input-disabled{
        input {
            color: rgba(50, 60, 79, 0.3);
        }
    }
    // input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    //     box-shadow: 0 0 0 40px white inset;
    // }
    // input[disabled]:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    //     box-shadow: 0 0 0 40px #F7F7F7 inset;
    // }
}