$edge: 60px;
$lineWidth: 320px;

.wechat-guide{
    padding-top: 16px;
    .setup-list {
        margin: 0 $edge 20px;
        padding-bottom: 26px;
        border-bottom: 1px solid #ECECEC;
        .setup-step {
            color: #ADB1B9;
            display: inline-block;
            .step-num{
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                line-height: 26px;
                vertical-align: middle;
                width: 28px;
                height: 28px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid #ADB1B9;
            }
            .title{
                font-size: 16px;
                margin-left: 12px;
                vertical-align: middle;
            }
            .step-line{
                margin: 0 28px 0 20px;
                .line-dot {
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    line-height: 26px;
                    vertical-align: middle;
                    margin-right: 4px;
                    background: #ADB1B9;
                    border-radius: 50%;
                }
            }
            &.active {
                .step-num{
                    color: #6174F1;
                    display: inline-block;
                    border-color: #6174F1;
                }
                .title{
                    color: #333C4F;
                    font-weight: bold;
                }
            }

            &.done{
                color: #333C4F;
                .step-num {
                    display: none;
                    border-color: #333C4F;
                }
            }
        }
    }
    .setup-body {
        .setup-content{
            .help {
                color: #333C4F;
                font-size: 14px;
                background: #F2F3F7;
                border-radius: 4px;
                padding: 8px 16px;
                margin-bottom: 32px;
                a{
                    color: #3D76F6;
                }
            }
            .file-upload {
                width: $lineWidth;
                >p {
                    font-size: 12px;
                    color: #ADB1B9;
                    margin: 4px 0 11px;
                }
                button.ant-btn span {
                    color: rgba(0,0,0,.65);
                }
                button.ant-btn:hover {
                    color: #6174F1;
                    border: 1px solid #6174F1;
                    background: none;
                    span {
                        color: #6174F1;
                    }
                }
            }
            .separate-line{
                position: absolute;
                height: 400px;
                width: 1px;
                background: #ECECEC;
                top: 44px;
                left: 486px;
            }
            .form-item{
                display: flex;
                flex-direction: row;
                margin-top: 4px;
                .ui-input-outline{
                    width: $lineWidth;
                }
                .input-help{
                    color: #ADB1B9;
                    line-height: 36px;
                    margin-left: 8px;
                    vertical-align: middle;
                }
                &.with-time-unit {
                    .ui-input-outline {
                        &::after {
                            position: absolute;
                            content: "分钟";
                            opacity: 0.5;
                            top: 0;
                            right: 12px;
                        }
                    }
                }
            }
        }
    }
}