.sm-form{
    margin: auto;
    .sm-input-outline{
        color: #333C4F;
        background: #FFF;
        .sm-input-content{
            padding-top: 0.1333rem; // 使输入框文字垂直居中
            font-size: 0.3733rem;
            width: 100%;
            height: 1.1733rem;
            line-height: normal;
            border: 1px rgba(0, 0, 0, .15) solid;
            border-radius: 0.2133rem;
            padding-left: 0.2667rem;
            outline:none;
            &:focus{
                border-color: #FB8632;
            }
            &.has-error {
                border-color: #D33419;
            }
            &::-webkit-input-placeholder{
                color: #333C4F;
                opacity: 0.3;
                top: 0; // 使输入框提示文字垂直居中
            }
        }
    }
    .sm-form-tip{
        position: absolute;
        margin-top: 0.0267rem;
        font-size: 0.32rem;
        color: #D33419;
        padding-left: 0.2667rem;
        text-align: left;
    }
}



