body, h1, h2, p, input {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

span {
    -webkit-tap-highlight-color: transparent;
}

input {
    font-size: 100%;
    vertical-align: middle;
    border: none;
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: none;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

input::-webkit-search-cancel-button {
    display: none;
}

input[type=search]::-ms-clear {
    display: none;
}

::-ms-clear, ::-ms-reveal {
    display: none;
}
