
.backup {
    padding-left: 60px;

    .backup-title {
        margin-top: 10px;
    }

    .backup-base {
        margin-top: 35px;
        .ant-checkbox-checked  .ant-checkbox-inner{
            background-color: #FB8632;
            border-color: #FB8632;
        }
    }

    .backup-auth {
        margin-top: 20px;
        margin-bottom: 30px;
        .ant-checkbox-checked .ant-checkbox-inner{
            background-color: #FB8632;
            border-color: #FB8632;
        }
    }

    .backup-info {
        font-size: 14px;
        color: #333C4F; 
    }

    .backup-local {
        background: #F7F7F7;
        display: inline-block;
        width : 116px;
        height: 34px;
        margin-right : 20px;
    }

    .backup-cloud {
        background: #F7F7F7;
        display: inline-block;
        width : 116px;
        height: 34px;
    }

    .recover-local {
        margin-top: 25px;
        display: inline-block;
        margin-right : 20px;
        .ant-upload-select{
            width : 116px;
            z-index: 1;
            opacity: 0;       
            position:absolute;
        }
        .button-name {
            border: 1px solid transparent;
            color: #333C4F;
            border-color: #fff;
            background: #F7F7F7;
            display: inline-block;
            width : 116px;
            height: 34px;
        }
    }

    .recover-cloud {
        margin-top: 25px;
        background: #F7F7F7;
        display: inline-block;
        width : 116px;
        height: 34px;
    }
}

.backup-modal {
    .backup-filename {
        margin-bottom: 10px;
    }
    .ui-form-item-small .ui-input {
        height: 40px;
    }
    .backup-latest {
        margin-top : 30px;
    }
    .ant-btn {
        height : 34px;
    }
}

.backup-icon {
    margin-top: 10px;
    display: block;
    text-align: center;
    .backup-result {
        font-size: 16px;
        color: #333C4F;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.backup-btm{
    height: 60px;
    border-top: 1px solid #d8d8d8;
    .backup-btn{
        width: 160px;
        height: 42px;
        left: 180px;
        top: 20px;
    }
}

.recover-ul {
    max-height: 380px;
    overflow-y: auto;
    .ant-radio-wrapper {
        float: right;
    }
    .recover-filename {
        font-size: 14px;
        color: #333C4F;
    }
    .recover-time {
        font-size: 14px;
        color: #ADB1B9;
    }
    .ant-radio-checked .ant-radio-inner{
        border-color: #FB8632;
    }
    .ant-radio-inner:after {
        background-color:orange;
    }
    .recover-li {
        margin-bottom: 20px;
    }
    .ant-modal-body & {
        padding-bottom: 0;
    }
    .ant-radio-group {
        display: block;
    }
}

.backup-message-time {
    margin-top: 10px;
    .backup-message {
        font-size: 14px;
        color: #ADB1B9;
    }
    .backup-time {
        font-size: 14px;
        color: #ADB1B9;
        float: right;
    }
}

.backup-not {
    margin-top: 10px;
    font-size: 14px;
    color: #ADB1B9;
}