.welcome{
    height: 100%;
    color: #333333;
    background: #FFF;
    text-align: center;
    padding-top: 1.6rem;
    .welcomeImg {
        width: 6.8rem;
        height: 6.8rem;
        background: url('./welcome-router.png');
        background-size: 100% 100%;
        margin:0 auto 0.64rem;
    }
    h2{
        margin: 0 auto 0.2133rem;
        font-family: 'PingFangSC-Regular';
        font-size: 0.8533rem; 
    }
    p{
        font-family: 'PingFangSC-Light';
        font-size: 0.4267rem;
    }
    .start-setup{
        margin: 0.4267rem auto 0.5333rem;
    }
    .policy{
        font-size: 0.2667rem;
        margin-top: 2.5333rem;
        .agreement{
            margin-left: 0.1067rem;
            opacity: 0.6;
            font-size: 0.32rem;
        }
    }
    .copyright{
        white-space: pre-wrap;
        position: absolute;
        bottom: 0.4267rem;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 0.32rem;
        color: rgba(247,247,247,0.40);
    }
}

.checkbox {
    color: #999999;
    font-family: PingFangSC-Light;
    font-size: 10px;
    color: #999999;
    text-align: center;
    line-height: 14px;
    .sm-link {
        color: #333333;
        border-bottom: 1px solid #fafafa;
        text-decoration: none;
    }
}