.h5welcome{
    height: 100%;
    color: #333333;
    background: #FFF;
    text-align: center;
    padding-top: 1.6rem;
    .welcomeImg {
        width: 6.8rem;
        height: 6.8rem;
        background: url('./welcome-router.png');
        background-size: 100% 100%;
        margin:0 auto 0.64rem;
    }
    h2{
        margin: 0 auto 0.2133rem;
        font-family: 'PingFangSC-Regular';
        font-size: 0.8533rem; 
    }
    p{
        font-family: 'PingFangSC-Light';
        font-size: 0.4267rem;
    }
    .start-setup{
        margin: 0.4267rem auto 0.5333rem;
    }
    .policy{
        font-size: 0.2667rem;
        margin-top: 2.5333rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-checkbox-wrapper .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner:after {
            top: 0.05rem;
            left: 0.11rem;
        }
        .ant-checkbox-wrapper .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
            background-color: transparent;
            border-color: #FF6000;
            border-radius: 50%;
        }
        .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
            border-radius: 50%;
            border-color: #999999;
        }
        .ant-checkbox-checked .ant-checkbox-inner:after {
            -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
            position: absolute;
            display: table;
            border: 1px solid #FF6000;
            width: 4.714286px;
            height: 7.142857px;
            border-top: 0;
            border-left: 0;
            content: ' ';
            -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        }
        .h5checkbox {
            font-family: PingFangSC-Light;
            font-size: 0.32rem;
            color: #999999;
            text-align: center;
            line-height: 0.1867rem;
            margin-left: 0.08rem;
            .sm-link {
                color: #333333;
                border-bottom: 1px solid #fafafa;
                text-decoration: none;
            }
        }
    }
}