@keyframes icon-spin{
  100% {transform:rotate(360deg);}
}
.sm-loading-wrap .ant-modal-content{
    .ant-modal-body{
        width: 7.2rem;
        padding: 0.2667rem;
        .icon{
            text-align: center;
            margin: 0.8133rem auto 0.2667rem;
            .img{

                display: inline-block;
                margin: auto;
                width: 1.3333rem;
                height: 1.3333rem;
                background-image: url('./loading.png');
                background-size: 100% 100%;
                &.spin{
                    animation: icon-spin 1s infinite linear;
                }
            }
        }
        .content{
            font-size: 0.4267rem;
            color: rgba(51,60,79,0.60);
            text-align: center;
            margin-bottom: 0.8rem;
        }
    }
}