@keyframes icon-spin{
  100% {transform:rotate(360deg);}
}
.sm-loading-wrap .ant-modal-content{
    .ant-modal-body{
        min-width: 3.2rem;
        padding: 0 0.64rem 0;
        .icon{
            text-align: center;
            margin: 0.7733rem auto 0.24rem;
            .img{

                display: inline-block;
                margin: auto;
                width: 0.64rem;
                height: 0.64rem;
                background-image: url('./loading.png');
                background-size: 100% 100%;
                &.spin{
                    animation: icon-spin 1s infinite linear;
                }
            }
        }
        .content{
            margin-bottom: 0.6933rem;
            color: #666;
            font-size: 0.3733rem;
            text-align: center;
            font-family: 'PingFangSC-Light';
        }
    }
}