body{
    background: #446CE6;
}
.guide-container{
    height: 100%;
    position: relative;
    .header{
        padding: 0.4rem 0.5333rem;
        height: 2.1333rem;
        .step-icon{
            position: fixed;
            right: -0.5333rem;
            top: -0.8rem;
        }
    }
    .guide-body{
        padding: 0.64rem 0.5333rem 0.5333rem;
        background: #FFF;
        overflow: auto;
        .guide-upper {
            padding: 0 0.2667rem;
            margin-bottom: 0.8533rem;
            form{
                margin-top: 1.0667rem;
            }
        }
        .h5-next {
            width: 8.9333rem;
            bottom: 0.5333rem;
            position: fixed;
        }
        .h5-next-longContent {
            width: 8.9333rem;
            margin-top: 0.1333rem;
            margin-bottom: 0.5333rem;
        }
        .sm-btn{
            font-size: 0.3733rem;
            width: 100%;
        }
        .sm-link{
            font-size: 0.32rem;
            color: #333;
        }
    }
}