.guide-header{
    margin-bottom: 0.8rem;
    .title{
        font-size: 0.4267rem;
        font-weight: bold;
        color: #333C4F;
        border-bottom: 1px solid #ECECEC;
        padding-bottom: 0.2667rem;
    }
    .tips{
        font-size: 0.32rem;
        color: #ADB1B9;
        margin-top: 0.16rem;
        margin-bottom: 1.0667rem;
    }
}