.guide-header{
    .title{
        line-height: 1.2rem;
        margin-bottom: 0.1067rem;
        font-size: 0.8533rem;
        color: #333333;
    }
    .tips{
        font-family: 'PingFangSC-Light', sans-serif;
        font-size: 0.4267rem;
        color: #999999;
    }
}