$border-radius: 0.3733rem;

@keyframes fadeIn{
from {opacity: 0;}
to {opacity: 1;}
}

.sm-confirm-wrap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content:center;
    align-items:center;
    animation: fadeIn 0.5s ease;
    .sm-modal{
        background: #FFF;
        text-align: center;
        width: 7.1733rem;
        border-radius: $border-radius;
        .title{
            font-weight: bold;
            font-size: 0.4267rem;
            color: #333C4F;
            margin: 0.5333rem 0.4rem 0.1067rem;
        }
        .content{
            font-size: 0.3733rem;
            color: #333C4F;
            margin: 0.1067rem 0.4rem 0.5333rem;
            &:first-child{
                margin: 0.6667rem 0.4rem;
            }
        }
        .footer{
            border-top: 0.0133rem solid #CCC;
            .btn{
                width: 50%;
                background: transparent;
                border-width: 0;
                font-size: 0.4267rem;
                color: #3D76F6;
                padding: 0.28rem 0;
                &.cancel-btn{
                    color: #333C4F;
                }
                &:first-child{
                    border-right: 0.0133rem solid #CCC;
                }
            }
        }
    }
}
.sm-modal-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    background: #060A16;
    z-index: 1000;
}