

.guide {
    h1 {
        margin-bottom : 20px;
    }
}

.steps {
    $white : rgba(255, 255, 255, .5);
    $pure-white : #fff;
    padding-bottom: 20px;
    .guide-header {
        flex : none;
        height : 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size : 16px;
        color : $white;
        width : 874px;
        margin : auto;
        li {
            margin : 0 10px;
            flex : none;
            i {
                width : 26px;
                height: 26px;
                font-style: normal;
                border : 1px solid $white;
                text-align: center;
                border-radius: 100%;
                margin-right: 10px;
                font-size: 14px;
                line-height: 25px;
            }
            &.line {
                flex : 1;
                height : 1px;
                border-top : 1px solid $white;
            }
            &.now {
                color : $pure-white;
                i {
                    border-color : $pure-white;
                    background-color : #fff;
                    color : #2956C6;
                }
                &+.line {
                    border-color: $pure-white;
                }
            }
        }
    }

    .guide-body {
        margin-top : 10px;
        width: 100%;
        border-radius: 8px;
        border : 1px solid #fff;
        min-height: 500px;
        background-color: #fff;
        padding : 20px 35px 35px;
        h2 {
            height: 60px;
            line-height: 60px;
            border-bottom : 1px solid #ccc;
            margin-bottom : 10px;
        }

        .guide-tip {
            margin-bottom : 25px;
        }

        .set-wan {
            .ui-center {
                height : 400px;
            }
            .none {
                display: none;
            }
            .wan {
                display: none
            }
            .wan.block {
                display: block;
            }

        }
    }
}


