
.guide-bg {
  background:#5F6FDE;
}
.steps {
  $white: rgba(255, 255, 255, .5);
  $pure-white: #fff;
  .guide-header {
    height: 72px;
    .logo {
      margin-top: 12px;
    }
  }
  .guide-body {
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    background-color: #FAFBFC;
    color: #333C4F;
    padding: 40px 58px 36px;
    position: relative;
    z-index: 200;
    overflow: auto;
    h2 {
      font-family: 'PingFangSC-Semibold';
      font-size: 24px;
      line-height: 33px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ECECEC;
      margin-bottom: 6px;
    }
    .guide-tip {
      margin-bottom: 52px;
    }
    // .help {
    //   display: flex;
    //   justify-content: flex-start;
    //   text-align: left;
    //   align-items: center;
    //   flex: 1;
    //   width: 100%;
    //   margin-top: 3px;
    //   a {
    //     color: #ccc;
    //     width: 100%;
    //     text-decoration: underline;
    //     &:nth-of-type(1) {
    //       flex: none;
    //     }
    //     &:nth-of-type(2) {
    //       text-align: right;
    //     }
    //     &:hover {
    //       color: #FB8632;
    //     }
    //   }
    //   .more {
    //     flex: 1;
    //     text-align: right;
    //   }
    // }
  }
}


