.account-step-guide{
    height: 90%;
    .ant-modal-content{
        height: 100%;
        .ant-modal-body{
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0;
            .body{
                flex: 1;
                padding: 32px 60px 34px;
                overflow: auto;
                h4{
                    font-size: 16px;
                    font-weight: normal;
                    text-align: center;
                }
                .content{
                    margin-top: 40px;
                    label{
                        font-size: 14px;
                        color: #FF8E2D;
                        font-weight: bold;
                    }
                    P{
                        font-size: 12px;
                        margin: 8px 0 12px;
                        a{
                            color: #3D76F6;
                        }
                    }
                }
            }
            .footer{
                text-align: center;
                padding: 20px;
                border-top: 1px solid rgba(51,60,79,0.10);
            }
        }
    }
}
