$border-radius: 0.1333rem;
.sm-toast-wrap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    .sm-toast{
        background: rgba(0,0,0,.8);
        text-align: center;
        width: auto;
        border-radius: $border-radius;
        padding: 0.4rem 0.4533rem 0.3467rem 0.4533rem;
        .content{
            min-width: 1.4933rem;
            max-width: 4.0533rem;
            font-size: 0.3733rem;
            margin-top: 0.16rem;
            color: #FFF;
            font-size: 0.3733rem;
        }
    }
}
.sm-toast-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    background: #060A16;
    transition: background 1s cubic-bezier(.075,.82,.165,1);
}