.web-welcome {
    .welcome-lang {
        width: 65px;
        height: 32px;
        position: absolute;
        top: 24px;
        right: 32px;
        padding: 7px 0;
        border-radius: 6px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        line-height: 17px;
        border: 1px solid #FFF;
        &:hover {
            color: #A7B3FF;
            border: 1px solid #A7B3FF;
        }
        &:active {
            color: #7480CC;
            border: 1px solid #7480CC;
        }
        span {
            color: #fff;
        }
    }

    .sunmi-logo {
        position: absolute;
        left: 2.5%;
        top: 3.6%;
    }

    .form-box {
        text-align: center;
        h1 {
            font-weight: 700;
            color: #FFF;
            font-size: 46px;    
            text-align: center;
            line-height: 46px;
            margin-bottom: 12px;
        }

        p {
            color: #FFF;
            font-size: 18px;
        }

        .btn {
            margin: 40px 0 12px;
            width: 320px;
            height: 42px;
        }

        .checkbox {
            color: #fff;
            opacity: 0.6;
            a {
                border-bottom: 1px solid #fafafa;
                text-decoration: none;
            }
        }
    }
    button.ant-btn-primary {
        background-color: #92A0FF;
        border: none;
    }

    button.ant-btn-primary:hover {
        background-color:#A7B3FF;
        border: none;
    }

    button.ant-btn-primary:focus {
        background-color:#7480CC;
        border: none;
    }
    
    .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner{
        background-color: #92A0FF;
        border: 1px solid #92A0FF;
    }
    .ant-checkbox-inner {
        border: none
    }
}