body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del,
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, dialog, figure, footer, header, hgroup,
nav, section{
  border:0px;
  font:inherit;
  margin:0px;
  padding:0px;
  outline:none;
  vertical-align:baseline;
}

html{
  height:100%;
}

body {
    height: auto;
    width: 100%;
    font-family: PingFangSC-Regular, '微软雅黑', sans-serif!important;
    background-image: linear-gradient(225deg, #529CF4 0%, #545DED 64%, #4441E2 100%);
}

ul{
  list-style:none;
  margin:0;
  padding:0;
}

input{
  -webkit-appearance:none;
}

input[type="button"]:active{
  opacity:0.8;
  filter:alpha(opacity=80);
}

/*
a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a:hover{
  opacity:0.9;
  filter:alpha(opacity=90);
}
a:active{
  opacity:0.6;
  filter:alpha(opacity=60);
}

input::-webkit-input-safebox-button{
  display:none;
}

::-ms-clear{
  display: none;
}
::-ms-reveal{
  display: none;
}
*/