.band-value {
    display: flex;
    .band-size {
        font-size: 34px;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .band-unit {
        font-size: 12px;
        display: inline-block;
        vertical-align: text-top;
        margin-left: 12px;
        color:#ADB1B9;
    }
    .band-bottom {
        font-size: 12px;
        vertical-align: text-bottom;
        display: inline-block;
        margin-left: -38px;
        color : #ADB1B9;
    }
    .icon-band {
        margin-left: 8px;
    }
    .band-line {
        display: inline-block;
        line-height: 40px;
        height: 40px;
        margin-left: 30px;
        margin-right: 30px;
        background:#333C4F;
        opacity: 0.1;
        width:1px;
    }
}

.qos-table {
    .ant-table-thead >tr >th{
        padding : 8px 0;
        border-bottom:none;
        background: none;
    }
    .ant-table-thead {
        color: #333C4F;
        font-size: 18px;
        font-weight: bolder;
    }
    .ant-table-tbody > tr > td {
        padding : 8px 0;
        border-bottom:none;
        background: none;
        .ui-form-item-field {
            width : 236px;
        }
    }
}

.progress-test {
    display: block;
    text-align: center;
    .speedfill {
        font-size: 16px;
        margin-top: 12px;
        font-weight: bold;
    }
}

.band-line {
    display: inline-block;
    margin-top: 32px;
    margin-left: 42px;
    margin-bottom: 32px;
    >label {
        font-size: 16px;
    }
}

.speed-bottom {
    height: 60px;
    border-top: 1px solid #d8d8d8;
    .speed-button{
        width: 160px;
        height: 42px;
        left: 164px;
        top: 20px;
    }
}

.qos-input {
    display: inline-block;
    margin-right: 8px;
    .ui-input{
        width: 100px;
    }
}

.qos-tip {
    color : red;
    margin-left: 6px;
}

.save{
    width: 100%;
    border-top:1px solid #ECECEC;
    padding:20px 60px 20px;
    margin-top: 30px;
}

