.steps .guide-body .preparing .guide-tip {
    margin-bottom: 48px;
}
.preparing {
    .content {
        text-align: center;
        .image {
            width: 480px;
            height: 270px;
            margin: 0 auto 28px;
            display: block;
        }
        .attention {
            width: 760px;
            text-align: left;
            margin: 0 0 32px 217px;
            font-size:14px;
            font-weight:400;
            color:rgba(51,60,79,1);
            line-height:20px;
            .icon-Internet {
                color: rgba(51,60,79,1);
                vertical-align: middle;
            }
            p {
                margin-bottom: 10px;
            }
        }
        .content-footer {
            display: flex;
            justify-content: center;
            .footer-button {
                width: 200px;
                height: 42px;
            }
            .button-margin {
                margin-right: 20px;
            }
        }
    }
}