.steps .guide-body .preparing .guide-tip {
    margin-bottom: 48px;
}
.preparing {
    .content {
        text-align: center;
        .image {
            width: 480px;
            height: 270px;
            margin: 0 auto 28px;
            display: block;
        }
        .next {
            width: 260px;
            height: 42px;
        }
    }
}