$edge: 60px;

.setup-body {
    .setup-content {
        margin: 0 $edge;
    }
    .save-area {
        border-top:1px solid #ECECEC;
        padding:28px 60px 20px 0;
        margin-top: 49px;
        width: calc(100% - 120px);
        margin-left: 60px;
        button {
            width: 200px;
            height: 42px;
        }
    }
}