<<<<<<< HEAD
.head-line {
    margin-top: 15px;
    height : 35px;
    border-bottom: 1px solid #ccc;
}

.head-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.head-title {
    display: inline-block;
    margin-left : 6px;
    color : black;
}

.ant-modal-body {
    padding-left: 20px;
    padding-right: 20px;
}

.button-bottom {
    height: 60px;
    border-top: 1px solid #d8d8d8;
    .button-click{
        width: 88px;
        height: 42px;
        left: 392px;
        top: 20px;
=======
.weixin-auth-save{
    height: 98px;
    border-top: 1px solid #d8d8d8;
    left:-60px;
    .weixin-auth-button{
        width: 320px;
        height: 42px;
        left: 60px;
        top: 24px;
>>>>>>> 修改管理员密码发开基本完成
    }
}
