
.head-content {
    margin-top: 6px;
    margin-bottom: 6px;
}

.head-title {
    display: inline-block;
    margin-left : 6px;
    color : black;
}

.speed-btn{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upgrade-warning{
    color: red;
    font-size: 12px;
    margin-bottom: 40px;
}

.upgrade-download{
    font-size: 16px;
    font-weight: 600;
}

.progress-result {
    display: block;
    text-align: center;
    margin-top: 6px;
    .progressfill {
        font-weight: 600;
        font-size: 16px;
        margin-top: 12px;
        font-weight: bold;
        color: #333C4F;
    }
    .progressfail {
        margin-top: 6px;
        font-size: 12px;
        color: #ADB1B9;
    }
}

.progress-download {
    display: block;
    text-align: center;
    .speedfill {
        font-size: 16px;
        margin-top: 12px;
        font-weight: bold;
    }
}

.upgrade-save{
    height: 98px;
    border-top: 1px solid #d8d8d8;
    .upgrade-btn{
        width: 116px;
        height: 34px;
        left: 60px;
        top: 24px;
    }
}


.div-header{
    text-align:left;
    padding-left:20px;
    padding-top:16px;
    padding-bottom:16px;
    border-bottom:1px solid #d4d4d4;
}

.div-body{
    text-align:left;
    height:80px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:20px
}

.div-footer{
    text-align:right;padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    border-top:1px solid #d4d4d4
}

.online-update {
    margin-top: 10px;
}

.save{
    border-top:1px solid #ECECEC;
    padding:28px 60px 20px 0;
    margin-top: 40px;
    width: calc(100% - 120px);
    margin-left: 60px;
}

.system-reboot {
    padding: 29px 60px 29px 60px;
    display: flex;
    justify-content: space-between;
    .reboot-title {
        font-size: 16px;
        color: #333C4F;
    }
}
.system-recovery {
    padding: 29px 60px 29px 60px;
    display: flex;
    justify-content: space-between;
    .recovery-title {
        font-size: 16px;
        color: #333C4F;
    }
}
.reboot-modal {
    .ant-modal-body {
        padding: 30px;
    }
    .reboot-modal-title {
        display: flex;
        align-items: center;
        label {
            color: #D0021B;
            font-size: 14px;
            margin-left: 8px;
        }
    }
    .reboot-modal-content {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333C4F;
    }
    .reboot-confirm {
        background: #D0021B;
        span {
            color: #FFFFFF;
        }
    }
}
.sys-upgrade {
    padding: 29px 60px 29px 60px;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 16px;
        color: #333C4F;
    }
}
.custom-save {
	border-top: 1px solid #ECECEC;
    padding: 28px 60px 20px 0;
    margin-top: 40px;
    width: calc(100% - 120px);
	margin-left: 60px;
	margin-top: 148px;
}

.custom-paragraph {
	margin-top: 24px;
	margin-bottom: 16px;
}

.port-edit {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #6174F1;
	margin-right: 12px;
	cursor: pointer;
}