.time-zone {
  font-family: 'PingFangSC-Regular';
  margin-top: 19px;
  padding-left: 60px;
  .current-system-time {
    font-size: 16px;
    margin-bottom: 48px;
    span{
      font-weight: bolder;
    }
  }

  .system-time-choose {
    .title {
      margin-bottom: 16px;
    }
  }

  .item {
    margin-bottom: 40px;
    margin-top: 16px;
    p{
      color: #ADB1B9;
    }
  }

  .btn {
    border-top:1px solid #ECECEC;
    padding:28px 60px 20px 0;
    margin-top: 49px;
    width: calc(100% - 60px);
  }
}
