.sm-btn{
    width: 9rem;
    max-width: 100%;
    height: 1.1733rem;
    font-size: 0.4267rem;
    text-align: center;
    color: #FFF;
    border: 1px solid #FFFFFF;
    border-radius: 0.5867rem;
    background-color: transparent;
    outline: none;
    &.disabled{
        background-color: #FF6000 !important;
        opacity: 0.4;
    }
    &.btn-primary{
        border-width: 0;
        background-color: #FF6000;
    }
    .ui-icon-spin{
        vertical-align: bottom;
        margin-right: 0.1067rem;
    }
}