
html,body,p,div,h1,h2,h3,h4,h5,h6,a,span,ul,li,section,article,ol,dt,dd,dl,form,input,fieldset { margin:0;padding:0; }

html,body, .layout {
    width : 100%;
    height: 100%;
}

body {
    font: 13px/22px PingFangSC-Regular, '微软雅黑'!important;
    color: rgba(0,0,0,0.45);
    background-color: #F0F2F5!important;
}

a, a:hover, a:visited, a:link {
    color: #fff;
    text-decoration: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #333C4F;
    opacity: .3;
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #333C4F;
    opacity: .3;
} 
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #333C4F;
    opacity: .3;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #333C4F;
    opacity: .3;
}

    

.main {
    // height: 100%;
    height : calc(100% - 55px);
    background-image : linear-gradient(180deg, $primary-bg-color 175px, #f2f3f7 175px);

    &.blue-bg {
        color : #fff;
        height : auto;
        background-image : linear-gradient(180deg, $primary-bg-color 175px, $primary-bg-color 0);
        position : absolute;
        left : 0;
        top : 55px;
        padding-top : 10px;
        right : 0;
        bottom : 0;
        padding-bottom : 65px;
        .ui-form {
            margin : 40px auto 0;
        }
    }

    footer {
        font-size : 12px;
        position: fixed;
        text-align: center;
        bottom : 0;
        left : 0; 
        right : 0;
        color : #6c8ad7;
        height : 55px;
        p {
            margin-bottom : 0;
        }

        span {
            margin : 0 5px;
        }
        a {
            color : #6c8ad7;
            margin : 0 8px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

ul,li{
    list-style: none;
}


::selection {
    background-color :#d4d4d4;
}




