
html,body,p,div,h1,h2,h3,h4,h5,h6,a,span,ul,li,section,article,ol,dt,dd,dl,form,input,fieldset { margin:0;padding:0; }

html,body, .layout {
    width : 100%;
    height: 100%;
    min-width: 1216px;
}

body {
    font: 13px/22px PingFangSC-Regular, '微软雅黑', sans-serif!important;
    color: rgba(0,0,0,0.45);
    background-color: #F0F2F5!important;
}

a, a:hover, a:visited, a:link {
    color: #fff;
    text-decoration: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #333C4F;
    opacity: .3;
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #333C4F;
    opacity: .3;
} 
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #333C4F;
    opacity: .3;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #ccc !important;
}

.bg-items{
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .noise{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
.index-bg{
    background-image : linear-gradient(135deg, #529CF4 , #545DED, #4441E2);
    .bg-items{
        visibility: visible;
    }
}
.bg{
    background-image : linear-gradient(180deg, #5F6FDE 230px, #5F6FDE 0);
    .main{
        color : #fff;
        // height : auto;
        // position : absolute;
        // left : 0;
        // top : 55px;
        // padding-top : 10px;
        // right : 0;
        // bottom : 0;
        // padding-bottom : 65px;
        .ui-form {
            margin : 40px auto 0;
        }
    }
}
.main-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    footer {
        opacity: 0.4;
        font-size : 12px;
        text-align: center;
        bottom : 0;
        left : 0; 
        right : 0;
        color : #fff;
        height : 60px;
        p {
            margin-bottom : 0;
        }
        span {
            margin : 0 16px;
        }
        a {
            margin : 0 16px;
            text-decoration: underline;
        }
    }

    .main {
        // height: 100%;
        min-height : calc(100% - 148px);
        min-width: 1216px;
    }

}


ul,li{
    list-style: none;
}


::selection {
    background-color :#d4d4d4;
}

.modal-center{
    .ant-modal-body{
        text-align: center;
        h3{
            font-size: 16px;
            color: #333C4F;
            margin: 5px auto;
        }
    }
    .ant-modal-footer{
        padding: 20px 16px;
        text-align: center;
        button{
            width: 160px;
            height: 42px;
        }
    }
}
