

// color
$primary-color : rgba(0, 0, 0, .85);
$tip-color : rgba(0, 0, 0, .45);
$primary-bg-color : #2956C6;

// font-size
$primary-font-size : 46px;


// button
$button-bg-color : rgba(0,0,0,0.65);











