

// color
$primary-color : rgba(0, 0, 0, .85);
$primary-highlight-color : #FB8632;
$tip-color : rgba(0, 0, 0, .45);
$primary-bg-color : #446CE6;

// font-size
$primary-font-size : 46px;
$sub-font-size : 18px;
$tips-font-size : 12px;

// button
$button-bg-color : #FB8632;
