button.ant-btn-primary,
button.ant-btn-primary:hover, button.ant-btn-primary:focus {
    color: #FFFFFF;
    background-color : $button-bg-color;
    border : 1px solid $button-bg-color;
}

button.ant-btn-primary.ant-btn-loading {
    border-color : rgba(147, 147, 147, 1);
}

button.ant-btn-lg span {
    font-size : 14px;
}

input.ant-input:focus,
input.ant-input:hover {
    border-color: $button-bg-color;
}

button.ant-btn-primary.ant-btn-loading {
    border-color : #FB8632!important;
}
.ant-btn-primary.disabled, 
.ant-btn-primary[disabled], 
.ant-btn-primary.disabled:hover, 
.ant-btn-primary[disabled]:hover, 
.ant-btn-primary.disabled:focus, 
.ant-btn-primary[disabled]:focus, 
.ant-btn-primary.disabled:active, 
.ant-btn-primary[disabled]:active, 
.ant-btn-primary.disabled.active, 
.ant-btn-primary[disabled].active {
    background-color : #EBEBEB!important;
    color : #fff!important;
    font-size : 14px;
    border : none!important;
}

.ant-progress-circle .ant-progress-text .anticon {
    font-size : 2.5em;
}

.ant-select {
    .ant-select-selection {
        height : 42px;
    }
    
    .ant-select-selection__rendered {
        line-height: 42px;
    }
}

.ant-progress-circle-path {
    stroke : #FB8632!important;
}

.ant-progress-status-success .ant-progress-circle-path {
    stroke: #52c41a!important;
}

.ant-progress-success-bg, .ant-progress-bg {
    background-color : #FB8632!important;
}

.ant-switch-checked {
    background-color : #FB8632!important;
}

.ant-click-animating-node {
    border-color : #FB8632!important;
}


.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color : #FB8632!important;
    box-shadow: 0 0 0 2px rgba(251, 134, 50, 0.2)!important;
}

.ant-select-selection:hover {
    border-color : #FB8632!important;
}

.ant-table-pagination.ant-pagination {
    float: none !important;
    text-align: right;
    .ant-pagination-total-text{
        float: left;
        color:#ADB1B9;
    }
}

.ant-table-thead>tr.ant-table-row-hover>td,
.ant-table-tbody>tr.ant-table-row-hover>td,
.ant-table-thead>tr:hover>td,
.ant-table-tbody>tr:hover>td{
    background: #F6F9FE!important;
}

.ant-table-tbody>tr>td.center{
    padding: 0 !important;
    text-align: center;
}
.ant-table-fixed-header .ant-table-content .ant-table-scroll .ant-table-header{
    // padding-bottom: 3px;    // for firefox
    &::-webkit-scrollbar-track{ // for chrome
        background: #fff;
    }
}

.ant-tabs-nav-wrap{
    .ant-tabs-nav{
        margin-left:60px;
    }
    .ant-tabs-tab{
        color: #ADB1B9 !important;
        margin-right:32px !important;
        padding:12px 0 !important;
    }
    .ant-tabs-tab-active{
        font-weight: bold !important;
        color: #FB8632 !important;
    }
    .ant-tabs-ink-bar{
        height:3px !important;
        background-color: #FB8632 !important;
    }
}

.ant-checkbox{
    .ant-checkbox-inner{
        border-color: #ECECEC!important;
    }
    &.ant-checkbox-checked, .ant-checkbox-indeterminate{
        .ant-checkbox-inner{
            background-color: #FB8632!important;
            border-color: #FB8632!important;
        }
    }
}


.ant-radio-checked{
    .ant-radio-inner{
        border-color: #FB8632!important;
        &:hover{
            background-color: #FB8632!important;
        }
        &:after{
            background-color: #FB8632!important;
        }
    }
}

// .ant-select-focused .ant-select-selection,
// .ant-select-selection:focus,
// .ant-select-selection:active {
//   border-color: #FB8632;
//   outline: 0;
//   -webkit-box-shadow: 0 0 0 2px rgba(251, 134, 50, 0.2);
//           box-shadow: 0 0 0 2px rgba(251, 134, 50, 0.2);
//   border-right-width: 1px !important;
// }

// .ant-select-open .ant-select-selection {
//     border-color: #FB8632!important;
// }
// ::selection {
//     background : #FB8632;
// }