

button.ant-btn-primary,
button.ant-btn-primary:hover, button.ant-btn-primary:focus {
    background-color : $button-bg-color;
    border : 1px solid $button-bg-color;
    height: 42px;
}

button.ant-btn-primary.ant-btn-loading {
    border-color : rgba(147, 147, 147, 1);
}

button.ant-btn-lg span {
    font-size : 14px;
}

input.ant-input:hover {
    border-color: $button-bg-color;
}


.ant-btn-primary.disabled, 
.ant-btn-primary[disabled], 
.ant-btn-primary.disabled:hover, 
.ant-btn-primary[disabled]:hover, 
.ant-btn-primary.disabled:focus, 
.ant-btn-primary[disabled]:focus, 
.ant-btn-primary.disabled:active, 
.ant-btn-primary[disabled]:active, 
.ant-btn-primary.disabled.active, 
.ant-btn-primary[disabled].active {
    background-color : #EBEBEB!important;
    color : #fff!important;
    font-size : 14px;
    border : none!important;
}

