/**
 * font
 */

h1, h2, h3, h4 {
    margin-bottom: 0;
}

h1, .ui-title {
    font-size: $primary-font-size;
    color: $primary-color;
    margin-bottom : 40px;
    line-height: 1;
}

h2, .ui-subtitle {
    font-size : $sub-font-size!important;
    color : #000!important;
    font-weight: bold!important;
}

h3 {
    font-size : 18px!important;
    color : #333;
}

.ui-t2 {
    font-size : 18px;
    color : #333;
    margin-bottom : 8px;
}

.ui-t3 {
    font-size : 14px;
    margin-bottom : 8px;
    color : #333;
}

.ui-tips {
    font-size: 12px;
    color: #ADB1B9;
}

.ui-mute {
    color: #ADB1B9;
    display:inline-block;
    font-size:14px;
}

.ui-form-tips {
    padding-left : 3px;
    height: 15px;
    line-height: 15px;
}

.ui-txt-error {
    color : #f5222d;
}

/**
 * button
 */

.ui-button {
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .65);
    padding: 0 100px;
}

/*
 * flex
 *
 */

.ui-flex {
    display: flex;
}

.ui-flex-column {
    display: flex;
    flex-flow : column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ui-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.ui-tiled {
    display: flex;
    flex-flow : row wrap;
    align-items: center;
    justify-content: flex-start;
    > li {
        flex : 1;
        &:first-of-type {
            text-align: left;
        }
        &:nth-of-type(2){
            text-align: right;
        }
    }
}

.ui-fullscreen {
    height: 100%;
}

.ui-container {
    width : 1216px;
    margin : auto;
    height: 100%;
}

/* inline-block */
.ui-ib {
    display : inline-block;
    vertical-align: middle;
}

.ui-none {
    display: none;
}

.ui-block {
    display: block;
}

.ui-hidden {
    visibility: hidden;
}


.ui-relative {
    position: relative;
}
