.primarytitle {
    width: 1216px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 16px 0 20px 4px;
    .icon {
        display: inline-block;
        cursor: pointer;
        .primarytitle-icon-color {
            color: #FFFFFF;
        }
    }
    .title {
        margin-left: 30px;
        display: inline-block;
        label {
            font-size: 24px;
            color: rgba(255,255,255,0.80);
        }
        p {
            font-size: 12px;
            color: rgba(255,255,255,0.60);
        }
    }
}