.h5setwifi {
    .setGuest {
        font-family: 'PingFangSC-Regular';
        font-size: 0.3733rem;
        color: #3D76F6;
        line-height: 0.48rem;
        display: inline-block;
        cursor: pointer;
    }
}